<!-- Clinics Section -->
<section class="clinics">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4" *ngFor="let clinic of clinics">

                <div [routerLink]="['/clinics/', clinic.id]" class="clinic-card">
                                                            <div class="clinic-header text-center">
                        <img src="assets/clinic_logo.png" alt="Clinic Logo" class="clinic-img">
                        <h5 class="clinic-name mt-2">{{ clinic.name }}</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>