<!-- Top Doctors Section -->
<section class="top-doctors">

    <div class="container position-relative">
        <button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>
        <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>

        <div class="scroll-wrapper" #scrollContainer>
            <div class="doctor-card" *ngFor="let doctor of topDoctors">
                <div [routerLink]="['/doctors/', doctor.id]" class="doctor-card-inner">
                    <div class="doctor-header">
                        <img [src]="doctor.avatar" alt="Doctor Avatar" class="img-fluid"
                                        style="max-height: 180px; max-width: 180px; object-fit: cover;" />
                    </div>
                    <h5 class="doctor-name">{{ doctor.doctorName }}</h5>
                </div>
            </div>
        </div>
    </div>
</section>