<!-- Top Doctors Section -->
<section class="top-doctors">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4" *ngFor="let doctor of topDoctors">
                <div [routerLink]="['doctors/profile/', doctor.id]" class="doctor-card">
                    <div class="doctor-header">
                        <img src="assets/doctor_avatar.png" alt="Doctor Avatar" class="doctor-img">
                    </div>
                    <h5 class="doctor-name">{{ doctor.doctorName }}</h5>
                </div>
            </div>
        </div>
    </div>
</section>