.top-doctors {
    padding: 20px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    flex: 1 1 calc(30% - 20px);
    max-width: calc(30% - 20px);
}

.doctor-card {
    background: #fff;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Căn giữa nội dung */
    align-items: center;
    height: 350px;
    width: 85%;
    position: relative;
}

.doctor-card:hover {
    transform: translateY(-5px);
    border-color: #bbb;
}

.doctor-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.doctor-header img {
    width: 250px;
    /* Điều chỉnh kích thước ảnh */
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin-bottom: 15px;
}

.doctor-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    /* Khoảng cách với ảnh */
    padding: 5px 10px;
    word-wrap: break-word;
    max-width: 100%;
    white-space: normal;
}