<div class="forgot-password-container">
    <div class="card">
        <h2>Quên Mật Khẩu</h2>
        <form #ngForm (ngSubmit)="onFormSubmit()" class="forgot-password-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" [(ngModel)]="model.Email" name="Email" required
                    placeholder="Nhập email của bạn" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
        </form>
        <p *ngIf="message" class="message success">{{ message }}</p>
    </div>
</div>