<section class="specializations">
    <div class="container position-relative">

        <!-- Nút scroll trái -->
        <button class="scroll-btn left" (click)="scrollLeft()">
            &#8249;
        </button>

        <!-- Nút scroll phải -->
        <button class="scroll-btn right" (click)="scrollRight()">
            &#8250;
        </button>

        <div class="row g-4" #scrollContainer>
            <div class="col-md-4" *ngFor="let specialization of specializations">
                <div [routerLink]="['/specializations/', specialization.id]" class="specialization-card">
                    <div class="specialization-header">
                        <img [src]="'/assets/' + specialization.image" alt="{{ specialization.name }}"
                            class="specialization-img">
                    </div>
                    <h5 class="specialization-name">{{ specialization.name }}</h5>
                </div>
            </div>
        </div>
    </div>
</section>