<div class="reset-password-container">
    <h2>Đặt Lại Mật Khẩu</h2>
    <form (ngSubmit)="onFormSubmit()">
        <div class="form-group">
            <label for="newPassword">Mật khẩu mới</label>
            <input type="password" id="newPassword" [(ngModel)]="model.NewPassword" name="NewPassword" required />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Xác nhận mật khẩu</label>
            <input type="password" id="confirmPassword" [(ngModel)]="model.ConfirmPassword" name="ConfirmPassword"
                required />
        </div>
        <button type="submit" class="btn">Cập nhật mật khẩu</button>
    </form>
    <p *ngIf="message">{{ message }}</p>
</div>