<div class="form-wrapper">
    <h3>Cập nhật chuyên khoa</h3>
  
    <form (ngSubmit)="updateSpecialization()">
      <div class="mb-3">
        <label>Tên chuyên khoa</label>
        <input
          type="text"
          [(ngModel)]="specialization.name"
          name="name"
          class="form-control"
          required
        />
      </div>
  
      <div class="mb-3">
        <label>Mô tả</label>
        <textarea
          [(ngModel)]="specialization.description"
          name="description"
          rows="3"
          class="form-control"
          required
        ></textarea>
      </div>
  
      <div class="mb-3">
        <label>Thay ảnh</label>
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="form-control"
          accept="image/*"
        />
      </div>
  
      <div *ngIf="previewImageUrl" class="mb-3">
        <label>Preview ảnh</label><br />
        <img
          [src]="previewImageUrl"
          width="160"
          height="160"
          style="object-fit: cover; border-radius: 8px"
        />
      </div>
  
      <button type="submit" class="btn btn-success me-2">Lưu thay đổi</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Huỷ</button>
    </form>
  </div>
  