<div class="manage-appointment-container">
    <h2>Quản lý Lịch Hẹn</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Bác sĩ</th>
          <th>Bệnh nhân</th>
          <th>Thời gian</th>
          <th>Trạng thái</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.id }}</td>
          <td>{{ appointment.doctorName }}</td>
          <td>{{ appointment.patientName }}</td>
          <td>{{ appointment.scheduleTime | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ appointment.status }}</td>
          <td>
            <ng-container *ngIf="isDoctor">
              <button *ngIf="appointment.status === 'Pending'" class="accept" (click)="manage(appointment.id, 2)">Chấp nhận</button>
              <button *ngIf="appointment.status === 'Pending'" class="decline" (click)="manage(appointment.id, 1)">Từ chối</button>
            </ng-container>
            <ng-container *ngIf="isPatient">
              <button *ngIf="appointment.status === 'Pending'" class="cancel" (click)="manage(appointment.id, 1)">Hủy</button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="loading" *ngIf="isLoading">Đang xử lý...</div>