<!-- Top Doctors Section -->
<section class="top-doctors">

    <button class="scroll-btn left" (click)="scrollLeft()">&#8249;</button>
    <button class="scroll-btn right" (click)="scrollRight()">&#8250;</button>

    <div class="container scroll-wrapper" #doctorScroll>
        <div class="doctor-card" *ngFor="let doctor of topRatingDoctors" [routerLink]="['/doctors/', doctor.doctorId]">
            <div class="doctor-header">
                <img [src]="doctor.avatar" alt="Doctor Avatar" class="img-fluid"
                                        style="max-height: 180px; max-width: 180px; object-fit: cover;" />
            </div>
            <h5 class="doctor-name">{{ doctor.doctorName }}</h5>
        </div>
    </div>
</section>