<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Cột 1: Logo và mô tả -->
            <div class="col-lg-4 col-md-6">
                <a class="footer-brand" href="/">
                    <img src="https://bookingcare.vn/assets/icon/bookingcare-2020.svg" alt="BookingCare" height="40">
                </a>
                <p class="footer-desc">
                    Nền tảng đặt lịch khám bệnh, tư vấn sức khỏe trực tuyến hàng đầu Việt Nam.
                </p>
            </div>

            <!-- Cột 2: Thông tin liên hệ -->
            <div class="col-lg-4 col-md-6">
                <h5 class="footer-title">Liên hệ</h5>
                <ul class="footer-list">
                    <li><i class="fas fa-map-marker-alt"></i> 123 Đường ABC, Quận 1, TP. HCM</li>
                    <li><i class="fas fa-phone"></i> 0123 456 789</li>
                    <li><i class="fas fa-envelope"></i> </li>
                </ul>
            </div>

            <!-- Cột 3: Mạng xã hội -->
            <div class="col-lg-4 col-md-12">
                <h5 class="footer-title">Theo dõi chúng tôi</h5>
                <div class="social-icons">
                    <a href="https://www.facebook.com/bookingcare"><img
                            src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook"
                            class="icon-img"></a>
                    <a href="https://www.tiktok.com/@bookingcare.sktd"><img
                            src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png" alt="TikTok"
                            class="icon-img"></a>
                    <a href="https://www.youtube.com/channel/UC9l2RhMEPCIgDyGCH8ijtPQ"><img
                            src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube"
                            class="icon-img"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-bottom">
        <p>&copy; 2025 BookingCare. Tất cả các quyền được bảo lưu.</p>
    </div>
</footer>