<div class="layout-wrapper d-flex">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="sidebar-header">BookingCare Admin</div>
      <nav class="nav flex-column">
          <a href="/Clinic/get-all-clinics" class="nav-link">Phòng khám</a>
          <a href="/Doctor/getall" class="nav-link active">Bác sĩ</a>
          <a href="/Specialization/get-all-specializations" class="nav-link">Chuyên khoa</a>
          <a href="/Account/getall" class="nav-link">Quản lý người dùng</a>
          <a href="/Patient/getall" class="nav-link">Quản lý bệnh nhân</a>
      </nav>
  </aside>
  
    <!-- Main content -->
    <main class="main-content">
      <h3 class="mb-4 fw-bold">Danh sách phòng khám</h3>
      <div class="add-clinic-button">
        <a routerLink="/Clinic/add" class="btn btn-success">Thêm phòng khám</a>
    </div>
    <div class="search-box">
      <input
        type="text"
        [(ngModel)]="searchText"
        (input)="filterClinics()"
        class="form-control"
        placeholder="🔍 Tìm theo tên phòng khám..."
      />
    </div>
      <div *ngIf="isLoading" class="text-muted">Đang tải dữ liệu...</div>
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
  
      <table *ngIf="!isLoading && clinics.length > 0" class="table table-bordered table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Tên phòng khám</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Ngày tạo</th>
            <th>Giới thiệu</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clinic of filteredClinics">

            <td>{{ clinic.id }}</td>
            <td>{{ clinic.name }}</td>
            <td>{{ clinic.address }}</td>
            <td>{{ clinic.phone }}</td>
            <td>{{ clinic.introduction }}</td>
            <td>{{ clinic.createAt | date: 'short' }}</td>
            <td>
              <a [routerLink]="['/Clinic/update', clinic.id]" class="btn btn-sm btn-primary">Sửa</a>

              
              <button class="btn btn-sm btn-primary" (click)="deleteClinic(clinic.id!)">Xoá</button>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
  