<!-- Hero Section -->
<section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1 class="display-4 text-white text-center">Nền tảng y tế chăm sóc sức khỏe toàn diện</h1>
        <div class="search-bar">
            <i class="fas fa-search text-muted me-3"></i>
            <input type="text" class="form-control border-0" placeholder="Tìm bệnh viện, phòng khám">
        </div>
    </div>
</section>


<!-- Clinics Section -->
<section class="clinics">
    <div class="container">
        <h2 class="text-center mb-5">Phòng khám phổ biến</h2>
        <app-top-clinic-list></app-top-clinic-list>
    </div>
</section>

<!-- Doctors Section -->
<section class="doctors">
    <div class="container">
        <h2 class="text-center mb-5">Bác sĩ phổ biến</h2>
        <app-top-doctor-list></app-top-doctor-list>
    </div>
</section>

<section class="doctors">
    <div class="container">
        <h2 class="text-center mb-5">Bác sĩ nổi bật</h2>
        <app-top-rating-doctor-list></app-top-rating-doctor-list>
    </div>
</section>

<!-- Specialties Section -->
<section class="specialties">
    <div class="container">
        <h2 class="text-center mb-5">Chuyên khoa phổ biến</h2>
        <app-top-specialization-list></app-top-specialization-list>
    </div>
</section>